.tutorialBoard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.svgBoard0, #goodEndW_B0, #badEndW_B0, #transparent_B0,
.svgBoard1,
.svgBoard2, #goodEndW_B2, #badEndW_B2, #transparent_B2,
.svgBoard3, #promoteW, #goodEndW_B3, #badEndW_B3, #transparent_B3,
.svgBoard4, #goodEndW_B4, #badEndW_B4, #transparent_B4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#goodEndW_B0, #badEndW_B0,
#goodEndW_B2, #badEndW_B2,
#promoteW, #goodEndW_B3, #badEndW_B3,
#goodEndW_B4, #badEndW_B4 {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
    display: none;
}

#informationW_B0, #informationW_B4, #informationW_B3, #informationW_B2, #informationW_B1 {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
}

#transparent_B0, #transparent_B2, #transparent_B3, #transparent_B4 {
    display: none;
}