/* odsadenie main od navigation */


main {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: gray;
    color: white;
}

section {
    text-align: center;
    margin-bottom: 20px;
}

.columns-center {
    padding: 0 0 50px 0;
    display: flex;
    align-items: center;
}

.columns-top {
    padding: 0 0 50px 0;
    display: flex;
}

.column-two {
    padding: 0 50px;
    flex: 50%;
    text-align: center;
}

.column-two {
    padding: 0 50px;
    flex: 50%;
    text-align: center;
}

.column-three {
    padding: 0 50px;
    flex: 33%;
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.paragraph-center {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

.shogi-figure {
    min-height: 150px;
    min-width: 120px;
}
.moves-figure {
    height: 150px;
    width: 150px;
}
/* ukazka figurky */
table {
    margin: 20px 0;
}

.col1 {
    padding-right: 30px;
}

.col2 {
    background-color: gray;
    color: white;
    padding: 0 20px;
}

.table-top {
    padding-top: 20px;
}

.table-bottom {
    padding-bottom: 20px;
}
.showed, .hidden {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
    color: white;
    background: gray;
    height: 300px;
    padding: 10px;
    margin: 20px;
}

.big-image {
    width: 100%;
}

.abc:hover {
    color:red;
}

[class*="col-"] {
    margin-bottom: 15px;
}

figure{
    margin: 15px auto;
}

/*.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
    padding-bottom: 50px;
}

.grid-item {
    background-color: gray;
    padding: 10px;
    text-align: center;
    color: white;
}
*/
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) {
    /*main{*/
    /*    margin-left: 0;*/
    /*    margin-right: 0;*/
    /*    padding: 0;*/
    /*}*/
    /*.paragraph-center{*/
    /*    width: 90%;*/
    /*}*/
    /*figure{*/
    /*    !*width:90%;*!*/
    /*    margin: auto;*/
    /*}*/
    .columns-center {
        display: block;
    }
    .columns-top {
        display: block;
    }
    .column-two {
        /*padding-bottom: 50px;*/
        padding: 0 5% 50px 5%;
    }
    .column-three {
        padding-bottom: 50px;
    }
    /*.big-image{*/
        /*width:288px;*/
    /*}*/
}


@media only screen and (max-width: 573px) {
    .big-image{
        width:288px;
    }
}

@media only screen and (max-width: 1300px) {
    /*figure{*/
    /*    width:400px;*/
    /*}*/
}







/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 992px) {
}
 Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}*/
