/** {*/
/*    outline: 3px solid black;*/
/*}*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0;}

.active, .dot:hover {
    background-color: #717171;
    color: #fff;
}

main{
    display: inline-block;
    margin-bottom: 20px;
}

.row{
    width: 95%;
    margin: 0 auto;
}

aside{
    /*display: block !important;*/
    max-height: 650px;
    /*position: fixed !important;*/
    /*z-index: 1;*/
    overflow: auto;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);

    /*display: none;*/
}

ol{
    padding-top: 10px;
    padding-bottom: 10px;
    /*box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);*/
}

ul{
    list-style: none;
}

li {
    padding-left: 4px;
}


section{
    /*display: block;*/
    /*height: 560px;*/
    /*width: 700px;*/
    /*padding: 0 100px;*/
    color:#134313;
    margin:0 auto;
    background-image: url("images/00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.sl-cont{
    /*width: 100ex;*/
}
.mySlides{
    margin-bottom: 30px;
    min-height: 300px;
}

.sec-header h2{
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 5px solid whitesmoke;
    font-weight: 700;
}

.sec-descript{
    margin: 20px 25px;
    font-size: 24px;
}

article{
    /*display: block;*/
    margin: 0 auto;
}

aside .aside-activ{
    background-color: black;
    color: #fff;
    padding: 2px 5px 3px 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .pitko{
        display: none;
    }
}


