/** {*/
/*    outline: 3px solid black;*/
/*}*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0; display: flex;}

.menu-item.active, .menu-item:hover {
    background-color: black;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

menu {
    height: 100%;
    flex: 20%;
    background-color: white;
    margin-left: 8px;
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
}
.menu-column {
    padding-top: 40px;
}
main {
    flex: 80%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0;
}

.row{
    width: 95%;
    margin: 0 auto;
}

/*aside{
    /*display: block !important;*/
    /*max-height: 650px;
    /*position: fixed !important;*/
    /*z-index: 1;*/
    /*overflow: auto;
    /*box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);

    /*display: none;*/
/*}*/

ol{
    padding-top: 10px;
    padding-bottom: 10px;
    /*box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);*/
}

ul{
    list-style: none;
}

.menu-item {
    padding: 8px 8px 8px 8px;
    font-size: 18px;
    color: black;
}
.menu-chapter{
    padding: 16px 8px 8px 8px;
    font-size: 22px;
    color: white;
    background: gray;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

section {
    /*display: block;*/
    /*height: 560px;*/
    /*width: 700px;*/
    /*padding: 0 100px;*/
    color: black;
    margin: 10px;
    background-image: url("pictures/00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_slides {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.mySlides{
    margin-bottom: 30px;
    min-height: 300px;
}

.sec-header h2{
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 5px solid whitesmoke;
    font-weight: 700;
}

.sec-descript{
    margin: 20px 25px;
    font-size: 24px;
}

article{
    /*display: block;*/
    margin: 0 auto;
}

/*aside .aside-activ{
    background-color: black;
    color: #fff;
    padding: 2px 5px 3px 5px;
    border-radius: 5px;
}
*/
@media only screen and (max-width: 1200px) {
    .pitko{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body{display: block;}
}
@media only screen and (max-width: 992px) {
    menu{flex: 30%}
    main{flex: 70%}
}
