/* odsadenie main od navigation */
main {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: gray;
    color: white;
}

section {
    text-align: center;
}

.columns-center {
    padding: 50px 0px;
    display: flex;
    align-items: center;
}

.columns-top {
    padding: 50px 0px;
    display: flex;
}

.column-two {
    padding: 0px 50px;
    flex: 50%;
    text-align: center;
}

.column-three {
    padding: 0px 50px;
    flex: 33%;
    text-align: center;
}

.paragraph-center {
    width: 50%;
    margin: auto;
}
