body {
    margin-right: 100px;
    margin-left: 100px;
}
/* odsadenie body content od navigation */
.content-body {
    margin-top: 100px;
}

.navbar-custom {
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    background-color: white;
    alignment: center;
    padding: 20px 0px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color: black;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.navbar-toggler {
    padding: 15px;
    font-size: 30px;
}
/* show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}
/* change color of active dropdown item */
.dropdown-item.active,
.dropdown-item:hover {
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* Style the tab content */
.tabcontent {
    display: block;
    float: left;
    padding: 0px 12px;
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    box-shadow: 3px 0 6px 0 rgba(0,0,0,.2);
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* The button used to open the sidebar */
.sidebarButton {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}

/*.openbtn:hover {
    background-color: #444;
}
*/
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding-bottom: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
}*/
