/* odsadenie body content od navigation */
main {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: gray;
    color: white;
}

p {
    text-align: justify;
}

section {
    display: table;
}

.column {
    padding-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

figure {
    display: inline-block;
    vertical-align: middle;
}

.navbar-custom {
    background-color: gray;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover{
    color: white;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 20px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    background-color: white;
    alignment: center;
    padding: 20px 0px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color: black;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.navbar-toggler {
    padding: 15px;
    font-size: 30px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item.active,
.dropdown-item:hover {
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}


.tabcontent {
    display: block;
    float: left;
    padding: 0px 12px;
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

/*
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
    box-shadow: 3px 0 6px 0 rgba(0,0,0,.2);
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    color: black;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    background-color: black;
    color: white;
}


.sidebarButton {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}

/*.openbtn:hover {
    background-color: #444;
}
*/
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding-bottom: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
}*/
